
body {
    background-color: rgb(56, 56, 56); 
    margin: 0px;
    color: blanchedalmond;
    }



    header {
        background-color: rgb(0, 0, 0);
        background-image: url(imgs/hill.jpg);
        background-repeat: no-repeat;
        background-size: 100%;

 
        display: flex;
        height: 800px;
        margin: 0px;
        font-family: avenir;
        font-size: 36px;
       
        }


